# Dependency folders
**/node_modules/

# Next.js build output
**/frontend/.next/
**/frontend/out/

# Production environment variables / secrets
**/backend/.env
**/frontend/.env.local

# System logs and crash dumps
*.log
npm-debug.log*
.DS_Store